body{
    background-color: blanchedalmond;
}
.navbar{
    padding-left: 5%  !important;
}

.navbardetay{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.altcizgikaldir{
    text-decoration: none;
}
.paylasimimg{
    width: 250px  !important;
}
.paylasiimgdiv{
    justify-content:center;
    align-items: center;
}
.paylasimdiv{
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
}












.slider{
    width: 100%;
    height: 250px;
    background-size: cover;
}
.caption{
    height: 250px;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #ffffff;
}
.projelerSlider{
    background: url('../images/prjeHome.jpg') center center no-repeat;
}
.projeimages{
    width: 150px;
}

.projeimg{
    display: inline-block;
    border: 0;
    width: 210px;
    height: 210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    border-radius: 25px;
}

.projeimg:hover{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.projelercerceve{
    border-radius: 15px;
    border: 1px black solid;
}


.iletisimSlider{
    background: url('../images/iletisim.jpg') center center no-repeat;
}
.ilteisimHarita{
    border-radius: 30px;
    width: 100%;

}


.projedetayfotolar img{
    width: 250px;
}
.projedetaybaslik{
    background-color: rgb(174, 187, 53);
    border-radius: 20px;
}



.giris{
    border-radius: 50px;
}