body{
    background-color: blanchedalmond;
}
.altcizgikaldir{
    text-decoration: none;
}
.paylasimimg{
    width: 300px;
    margin: 5% !important;
}
.paylasiimgdiv{
    justify-content:center;
    align-items: center;
}
.paylasimdiv{
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
}