body{
    background-color: blanchedalmond;
}
.navbar{
    padding-left: 5%  !important;
}

.navbardetay{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.altcizgikaldir{
    text-decoration: none;
}
.paylasimimg{
    width: 250px  !important;
}
.paylasiimgdiv{
    justify-content:center;
    align-items: center;
}
.paylasimdiv{
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*ANASAYA */
.AnsayafaSonYapilar img{
    width: 100px;
}

.dahaFazla{
    padding-left: 15%;
}

.AnsayfaSlider{
    
    background: url('../images/anasayfa.jpg') center center no-repeat;

    width: 100%;
    height: 500px;
    background-size: cover;
}







.slider{
    width: 100%;
    height: 300px;
    background-size: cover;
}
.caption{
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #ffffff;
}
.projelerSlider{
    background: url('../images/prjeHome.jpg') center center no-repeat;
}
.projeimages{
    width: 150px;
}

.projeimg{
    display: inline-block;
    border: 0;
    width: 210px;
    height: 210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    border-radius: 25px;
}

.projeimg:hover{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.projelercerceve{
    border-radius: 15px;
    border: 1px black solid;
}


.iletisimSlider{
    background: url('../images/iletisim.jpg') center center no-repeat;
}
.ilteisimHarita{
    border-radius: 30px;
    width: 100%;

}
.HizmetlerSlider{
    background: url('../images/hizmet.jpg') center center no-repeat;
}


.projedetayfotolar img{
    width: 250px;
}
.projedetaybaslik{
    background-color: rgb(174, 187, 53);
    border-radius: 20px;
}

.projeimgDetay{
    display: inline-block;
    border: 0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    border-radius: 25px;
}

.projeimgDetay:hover{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}



.giris{
    border-radius: 50px;
}
/* HAKKIMIZDA*/

.yonetim img{
    width: 60%;
}


/* ADMİN */

.hosgeldiniz{
    color: #ffffff;
}
.hosgeldiniz h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
}



/*PROJE kAYIT*/
.drop-zone {
    max-width: 300px;
    height: 300px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #009578;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.projelerTablosu img{
    width: 50px;
    display: block;
}


.AdminKapakFoto img{
    width: 75%;
    display: block;
}



/*Admin Fotoğraflar Sayfası */

.photoPage img{
    width: 100%;
}